$background-colors: (
  'black': --black,
  'white': --white,
  'gray': --gray,
  'gray-10': --gray-10,
  'gray-20': --gray-20,
  'gray-30': --gray-30,
  'gray-40': --gray-40,
  'gray-50': --gray-50,
  'gray-60': --gray-60,
  'gray-70': --gray-70,
  'gray-80': --gray-80,
  'gray-90': --gray-90,
  'gray-100': --gray-100,
  'gray-110': --gray-110,
  'gray-120': --gray-120,
  'gray-130': --gray-130,
  'gray-140': --gray-140,
  'gray-150': --gray-150,
  'gray-160': --gray-160,
  'gray-170': --gray-170,
  'gray-180': --gray-180,
  'gray-190': --gray-190,
  'primary': --primary,
  'secondary': --secondary,
  'tertiary': --tertiary,
  'quaternary': --quaternary,
);

$text-colors: (
  'black': --black,
  'white': --white,
  'gray': --gray,
  'teal':--primary,
  'red': --secondary,
);

@each $name, $color in $background-colors {
    .background-#{$name} {
      background-color: var($color);
    }
}

@each $name, $color in $text-colors {
  .text-#{$name} {
    color: var($color);
  }
}

