:root {
    --text-black: var(--black);
    --text-white: var(--white);
    --text-gray: var(--gray-140);
    --text-teal: var(--teal);

    --body-font-color: var(--text-black);
    --border-color-primary: var(--black);
    --border-color-secondary: var(--white);
}