:root {
    //White
    --white: hsl(0, 0% 100%);

    // Black
    --black-h: 0;
    --black-s: 0%;
    --black-l: 0%;

    --black: hsl(var(--black-h), var(--black-s), var(--black-l));

    //Gray
   
   --tds-gray: hsl(var(--black-h), var(--black-s), 85%);
   --tds-gray-10: hsl(var(--black-h), var(--black-s), 98%);
   --tds-gray-20: hsl(var(--black-h), var(--black-s), 97%);
   --tds-gray-30: hsl(var(--black-h), var(--black-s), 96%);
   --tds-gray-40: hsl(var(--black-h), var(--black-s), 94%);
   --tds-gray-50: hsl(var(--black-h), var(--black-s), 93%);
}