$white: #FFFFFF !default;
$black: #000000 !default;
$red: #FF0000 !default;
$teal: #35BFC8 !default;

// GRAYSCALE
$gray-100: #4E4F53 !default;
$gray-90: #5E5F63 !default;
$gray-80: #7D7E84 !default;
$gray-70: #8C8E95 !default;
$gray-60: #9C9EA5 !default;
$gray-50: #B0B1B7 !default;
$gray-40: #CECFD2 !default;
$gray-30: #E1E2E4 !default;
$gray-20: #EBECED !default;
$gray-10: #F5F5F6 !default;

//TEAL
$teal-100: #02585D !default;
$teal-90: #027A82 !default;
$teal-80: #028C95 !default;
$teal-70: #039EA7 !default;
$teal-60: #03AFBA !default;
$teal-50: #35BFC8 !default;
$teal-40: #68CFD6 !default;
$teal-30:#B3E7EA !default;
$teal-20: #CDEFF1 !default;
$teal-10: #E6F7F8 !default;

$primary: $black;
$secondary: $teal-90;
