:root {
    //White
    --white: hsl(0, 0% 100%);

    // Black
    --black-h: 0;
    --black-s: 0%;
    --black-l: 0%;

    --black: hsl(var(--black-h), var(--black-s), var(--black-l));

    //Gray
   --gray: hsl(var(--black-h), var(--black-s), 85%);
   --gray-10: hsl(var(--black-h), var(--black-s), 98%);
   --gray-20: hsl(var(--black-h), var(--black-s), 97%);
   --gray-30: hsl(var(--black-h), var(--black-s), 96%);
   --gray-40: hsl(var(--black-h), var(--black-s), 94%);
   --gray-50: hsl(var(--black-h), var(--black-s), 93%);
   --gray-60: hsl(var(--black-h), var(--black-s), 91%);
   --gray-70: hsl(var(--black-h), var(--black-s), 89%);
   --gray-80: hsl(var(--black-h), var(--black-s), 88%);
   --gray-90: hsl(var(--black-h), var(--black-s), 87%);
   --gray-100: var(--tds-gray)
   --gray-110: hsl(var(--black-h), var(--black-s), 76%);
   --gray-120: hsl(var(--black-h), var(--black-s), 68%);
   --gray-130: hsl(var(--black-h), var(--black-s), 60%);
   --gray-140: hsl(var(--black-h), var(--black-s), 51%);
   --gray-150: hsl(var(--black-h), var(--black-s), 43%);
   --gray-160: hsl(var(--black-h), var(--black-s), 34%);
   --gray-170: hsl(var(--black-h), var(--black-s), 25%);
   --gray-180: hsl(var(--black-h), var(--black-s), 17%);
   --gray-190: hsl(var(--black-h), var(--black-s), 9%);

   //Teal
   --teal-h: 183;
   --teal-s: 96%;
   --teal-l: 33%;

   --tds-teal: hsl(var(--teal-h), var(--teal-s), var(--teal-l));
   
   //Red
   --red-h: 0;
   --red-s: 100%;
   --red-l: 50%;

   --tds-red: hsl(var(--red-h), var(--red-s), var(--red-l));

   //Yellow
   --yellow-h: 40;
   --yellow-s: 100%;
   --yellow-l: 50%;

   --tds-yellow: hsl(var(--yellow-h), var(--yellow-s), var(--yellow-l));

   //Orange
   --orange-h: 32;
   --orange-s: 100%;
   --orange-l: 50%;

    //Primary
   --primary-h: var(--teal-h);
   --primary-s: var(--teal-s);
   --primary-l: var(--teal-l);

   --primary: hsl(var(--primary-h), var(--primary-s), var(--primary-l));

   //Secondary
   --secondary-h: var(--red-h);
   --secondary-s: var(--red-s);
   --secondary-l: var(--red-l);

   --secondary: hsl(var(--secondary-h), var(--secondary-s), var(--secondary-l));

   //Tertiary
   --tertiary-h: var(--yellow-h);
   --tertiary-s: var(--yellow-s);
   --tertiary-l: var(--yellow-l);

   --tertiary: hsl(var(--tertiary-h), var(--tertiary-s), var(--tertiary-l));

   //Quaternary
   --quaternary-h: var(--orange-h);
   --quaternary-s: var(--orange-s);
   --quaternary-l: var(--orange-l);

   --quaternary: hsl(var(--quaternary-h), var(--quaternary-s), var(--quaternary-l));

}