:root {
    
    --body-font: 'IBM Plex Sans', sans-serif;
    --heading-font: "Brandon Grotesque Black", Helvetica, sans-serif;

    --font-weight-regular: 400;
    --font-weight-bold: 700;
    --font-weight-medium: 500;
    --font-weight-black: 900;

    --body-font-size: 1.1 25rem;
    --body-line-height: 1.75rem;

}