:root {
    --body-font: "Brandon Grotesque Regular", Helvetica, sans-serif;

    --font-weight-regular: 400;
    --font-weight-bold: 700;
    --font-weight-medium: "Brandon Grotesque Medium", Helvetica, sans-serif;
    --font-weight-black: "Brandon Grotesque Black", Helvetica, sans-serif;

    --body-font-size: 1.25rem;
    --body-line-height: 1.75rem;

}