@font-face {
    font-family: "Brandon Grotesque Black";
    src: url("https://tankgirl-storage.s3.amazonaws.com/design-system/fonts/BrandonGrotesque-Black.woff2") format("woff2"),
     url("https://tankgirl-storage.s3.amazonaws.com/design-system/fonts/BrandonGrotesque-Black.woff") format("woff"),
     url("https://tankgirl-storage.s3.amazonaws.com/design-system/fonts/BrandonGrotesque-Black.eot") format("embedded-opentype");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
    unicode-range: U+0020-007F, U+00A9, U+00AE, U+2013-201D;
}

@font-face {
    font-family: "Brandon Grotesque Bold";
    src: url("https://tankgirl-storage.s3.amazonaws.com/design-system/fonts/BrandonGrotesque-Bold.woff2") format("woff2"),
     url("https://tankgirl-storage.s3.amazonaws.com/design-system/fonts/BrandonGrotesque-Bold.woff") format("woff"),
     url("https://tankgirl-storage.s3.amazonaws.com/design-system/fonts/BrandonGrotesque-Bold.eot") format("embedded-opentype");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
    unicode-range: U+0020-007F, U+00A9, U+00AE, U+2013-201D;
}

@font-face {
    font-family: "Brandon Grotesque Medium";
    src: url("https://tankgirl-storage.s3.amazonaws.com/design-system/fonts/BrandonGrotesque-Medium.woff2") format("woff2"),
     url("https://tankgirl-storage.s3.amazonaws.com/design-system/fonts/BrandonGrotesque-Medium.woff") format("woff"),
     url("https://tankgirl-storage.s3.amazonaws.com/design-system/fonts/BrandonGrotesque-Medium.eot") format("embedded-opentype");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
    unicode-range: U+0020-007F, U+00A9, U+00AE, U+2013-201D;
}

@font-face {
    font-family: "Brandon Grotesque Regular";
    src: url("https://tankgirl-storage.s3.amazonaws.com/design-system/fonts/BrandonGrotesque-Regular.woff2") format("woff2"),
     url("https://tankgirl-storage.s3.amazonaws.com/design-system/fonts/BrandonGrotesque-Regular.woff") format("woff"),
     url("https://tankgirl-storage.s3.amazonaws.com/design-system/fonts/BrandonGrotesque-Regular.eot") format("embedded-opentype");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
    unicode-range: U+0020-007F, U+00A9, U+00AE, U+2013-201D;
}

@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,700&display=swap');